.fretContainer {
  position: relative;
  width: 100%;
}

.fretDot {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 36%;
  top: 46%;
  background-color: black;
  border: solid 1px;
  border-radius: 100%;
}

.twelveDot1 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 36%;
  top: 26%;
  background-color: black;
  border: solid 1px;
  border-radius: 100%;
}

.twelveDot2 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 36%;
  top: 68%;
  background-color: black;
  border: solid 1px;
  border-radius: 100%;
}

.topNotePillContainer {
  position: absolute;
  right: -55px;
  top: -59px;
  width: 100%;
}

.bottomNotesContainer {
  height: 100%;
  width: 100%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
